# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Banco de dados (Desenvolvimento local - SQLite)
# DATABASE_URL="file:./dev.db" 

# Banco de dados (Produção - PostgreSQL)
DATABASE_URL="postgresql://usuario:senha@host:porta/nome_do_banco"

# Telegram
TELEGRAM_BOT_TOKEN="seu-token-do-telegram-aqui"

# Ambiente
NODE_ENV="development"

# OpenRouter
OPENROUTER_API_KEY="sua-chave-da-api-aqui"

# URL da API do Viewer
VIEWER_API_URL="http://localhost:3000"

# Salt usado para a geração de hash 
BRAGFY_HASH_SALT="salt-seguro-para-hash" 